<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="Text-align:center">Category Form</h4>
                  <p class="card-description">
                    Add category details
                  </p>
                  <form class="forms-sample" method="post" action="{% url 'save_category' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control"  placeholder="Category Name" name="category">
                    </div>

                    <div class="form-group">
                      <label>Category Images</label>
                      <input type="file" class="form-control"  placeholder="Upload Image" name="img">
                    </div>


<!--                    <div class="form-group">-->
<!--                      <label>File upload</label>-->
<!--                      <input type="file" name="img[]" class="file-upload-default">-->
<!--                      <div class="input-group col-xs-12">-->
<!--                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">-->
<!--                        <span class="input-group-append">-->
<!--                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>-->
<!--                        </span>-->
<!--                      </div>-->
<!--                    </div>-->

                    <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" name="descript" id="exampleTextarea1" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
<!--                    <button class="btn btn-light" type="submit">Cancel</button>-->
                  </form>
                </div>
              </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      {% if messages %}
          {% for i in messages %}
               {% if i.tags == 'success' %}
                   <script>
                       swal('{{i}}','','success');
                   </script>
               {% elif i.tags == 'error' %}
                   <script>
                       swal('{{i}}','','error');
                   </script>
               {% elif i.tags == 'warnings' %}
                   <script>
                       swal('{{i}}','','warnings');
                   </script>
               {% else %}
                   <script>
                       swal('{{i}}','','info');
                   </script>
               {% endif %}
          {% endfor %}
      {% endif %}


</body>
</html>
{% endblock %}