<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'userlogin/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" style="color:red;">Welcome to E_Mart</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url({% static 'home/images/bg_1.jpg' %});">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4" style="color:green;text-align:center;">Log In</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form action="{% url 'userlogin_' %}"  method="post">
								{% csrf_token %}
			      		<div class="form-group mb-3">
			      			<label class="label" >Username</label>
			      			<input type="text" class="form-control" placeholder="Username" name="uname" required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label">Password</label>
		              <input type="password" class="form-control" placeholder="Password" required name="upwd">
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-danger rounded submit px-3" style="background-color:green;">Log In</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0" style="color:red;">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#" style="color:red;">Forgot Password</a>
									</div>
		            </div>
		          </form>
		          <p class="text-center">Not a member? <a  href="{% url 'user_registration' %}" style="color:red;" >Sign Up</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>
  <script src="{% static 'userlogin/js/jquery.min.js' %}"></script>
  <script src="{% static 'userlogin/js/popper.js' %}"></script>
  <script src="{% static 'userlogin/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'userlogin/js/main.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      {% if messages %}
          {% for i in messages %}
               {% if i.tags == 'success' %}
                   <script>
                       swal('{{i}}','','success');
                   </script>
               {% elif i.tags == 'error' %}
                   <script>
                       swal('{{i}}','','error');
                   </script>
               {% elif i.tags == 'warnings' %}
                   <script>
                       swal('{{i}}','','warnings');
                   </script>
               {% else %}
                   <script>
                       swal('{{i}}','','info');
                   </script>
               {% endif %}
          {% endfor %}
      {% endif %}

	</body>
</html>

